html {
  scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 4em;
}

.container {
    align-items: center;
    margin-inline: auto;
    width: min(90%, 20.5);
    padding: 1em;

}

.band-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}

.social-media {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding-right: 1em;
}

.social-media--button:hover {
    background-color: rgb(48, 48, 48);
}

.nav-item {
    display: inline-block;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;

}

.band-logo {
    border-radius: 50%;
    margin: 0;
    height: 50px;
}

.band-photo {
    margin: 0;
    height: 500px;
}
.band-name {
    font: 100px/100px 'Amatic SC', cursive;
    font-weight: 200!important;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.section-header {
   font: 60px/60px 'Amatic SC', cursive;
    font-weight: 200!important;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}
.show-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-left:25px;
  margin-top:40px;
  margin-bottom: 40px;
  text-align: center;
}
.show-date {
    font: 45px/45px 'Amatic SC', cursive;
    font-weight: 100!important;
    text-transform: uppercase;
}
.show-location {
    font: 35px/35px 'Amatic SC', cursive;
    margin-bottom: 15px
}
#book-us {
    font: 32px/32px 'Amatic SC', cursive;
    text-align: center;
    padding: 20px;
}
#about {
    font: 32px/32px 'Amatic SC', cursive;
    text-align: center;
    padding: 20px;
}

.vertical-line{
    display: inline;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 125px;
}

@media (max-width: 850px){
    .social-media {
        display: none;
    }
}

@media (max-width: 510px){
    header {
        justify-content: space-evenly;
    }
    .band-header{
        padding-right: 1em;
    }
}
